@font-face {
    font-family: 'Dosis';
    src: url('Recursos/Fuentes/Dosis/Dosis-Regular.woff2') 
    format("woff2");
}
@font-face {
    font-family: 'Calendas';
    src: url('Recursos/Fuentes/Calendas/calendas_plus-webfont.woff2') 
    format("woff2");
}
body{
    background-color: #333333;
    width: 100vw;
}
header{
    font-family: 'Dosis';
    padding: 0 0;
    margin: 1% 1% 1% 1%;
    border-radius: 15px;
    background-color: #707070;
    box-sizing: border-box;
}
.Caja{
    position: relative;
    background-color: #1b1b1b;
    border-radius: 5px;
    margin: 0 0 0 0;
}
.Caja h1{
    margin: 0 15% 0 10%;
}
nav{
    position: absolute;
    top: 37.5%;
    right: 0;
    left: 45%;
}
nav li{
    display: inline;
    margin: 0 5% 5% 1%;
}
nav a{
    text-transform: uppercase;
    color: #dddddd;
    font-size: 50px;
    font-weight: bolder;
    text-decoration: none;
    transition: 1s color;
}
nav a:hover{
    color: #999999;
    cursor: pointer;
}




main{
    font-size: 15px;
}






footer{
    margin: 0 0 0 0;
    text-align: center;
    padding: 1% 0 1% 0;
    background-color: #999999;
}
#Copy{
    background-color: #999999;
    border-radius: 15px 15px 0 0;
}
.Copyright{
    color: #000000;
    font-size: 15px;
    font-family: 'Calendas';
    margin: 1% 1% 1% 1%;
}
    /*display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    
}
#inicio{
    flex: 1;
}
#product{
    flex: 2;

}
#contact{
    flex: 3;
}*/