@font-face {
    font-family: 'Dosis';
    src: url('Recursos/Fuentes/Dosis/Dosis-Regular.woff2') 
    format("woff2");
}

@font-face {
    font-family: 'Calendas';
    src: url('Recursos/Fuentes/Calendas/calendas_plus-webfont.woff2') 
    format("woff2");
}
body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #333333;
}
/*estilo header*/
header{
    font-family: 'Dosis';
    padding: 0;
    margin: 0;
    border-radius: 15px;
}
header img{
    margin: 0 0 0 30px;
}
.Caja{
    background-color: #1b1b1b;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.elementos-header{
    flex: 1 1 100px;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav li{
    flex: 1 1 5%;
    padding: 1%;
}
nav a{
    text-transform: uppercase;
    color: #dddddd;
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
    transition: 1s color;
}
nav a:hover{
    color: #999999;
    cursor: pointer;
}

/*estilo footer*/

footer{
    margin: 0 0 0 0;
    text-align: center;
    padding: 1% 0 1% 0;
    background-color: #999999;
}
#Copy{
    background-color: #999999;
    display: block;
}
.Copyright{
    color: #000000;
    font-size: .5rem;
    font-family: 'Calendas';
    margin: 1% 1% 1% 1%;
}


/*Style for the index.html*/
#banner{
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
}
.Parrafo{
    padding: 0 0 0 0;
    font-family: 'Calendas';
    font-size: 1rem;
    color: #dddddd;
    text-align: center;
    margin: 0 0 0 0;
    background-color: #333333;
}
.Titulo{
    text-align: center;
    font-family: 'Dosis';
    font-size: 2rem;
    color: #101010;
    margin: 0 0 .25rem 0;
    font-weight: bolder;
}
#utensilios{
    width: 240px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
    float: right;
}
.Parrafo p{
    margin: .25rem 0 .25rem 0;
    padding: .5rem;
    text-align: left;
}
.Mision{
    
    text-align: center;
    font-family: 'Calendas';
    font-size: 1.5rem;
    font-weight: bold;
    color:  #101010;
    margin: 0 0 0 0;
    padding: 0;
    border-radius: 15px;
}
.Mision strong{
    font-style: italic;
}
#titulo-texto{
    text-align: center;
    font-family: 'Dosis';
    font-size: 2rem;
    color: #101010;
    margin: 0 0 5% 0;
    font-weight: bolder;
    clear: right;
}


.Mapa{
    padding: 0;
    text-align: center;
    margin: 0 0 0 0;
    background: linear-gradient(#333333,#101010);
}
.Mapa p{
    margin: 0 0 1% 0;
    color:#dddddd;
}
#google-map{
    border-radius: 1px;
}

#Diferenciales{
    background-color: #101010;
    text-align: center;
    padding: 0 0 1% 0;
    font-family: 'Calendas';
    color: #dddddd;
    margin: 0 0 0 0;
}
#titulo-diferencial{
    color: #dddddd;
    font-size: 2.5rem;
    
}
#barbero{
    width: 50%;
    padding: 0;
    margin: 0;
    opacity: .75;
    box-shadow: .5rem .5rem .5rem #000000;  
    border-radius: 1px;

}
#barbero:hover{
    opacity: 1;
}
.Lista{
    list-style-type: none;
    margin: 1% 0 0 1%;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    width: 40%;
    overflow: hidden;
    font-style: oblique;
    text-align: left;
    font-size: 2rem;
}
.Items-diferenciales{
    font-style: italic;
    line-height: 1.5;
}
.Items-diferenciales:first-child{
    font-weight: bold;
}
#barbero{
    width: 35%;
    height: 35%;
    padding: 0;
    margin: 0;
}

.Video-yt{
    width: 100vw;
    height: 100vh;
    padding: 1% 0 0 0;
    display: inline-block;
    text-align: center;
    align-items: center;
    background: linear-gradient(#101010 0%, #999999 100%);
    background-size: auto;
}
#youtube-video{
    border-radius: 5px;
    
}


/*Style for the Productos.html*/
.Productos{
    width: 100%;
    margin: 0 .75% 0 .75%;
    padding: .5% 0 .5% 0;
}
.Productos li{
    display: inline-block;
    background-color: #333333;
    text-align: center;
    vertical-align: top;
    width: 31.60%;
    font-family: 'Calendas';
    color: #dddddd;
    margin: 0 .5% 0 .5%;
    padding: 1.5% 0% 1.5% 0%;
    box-sizing: border-box;
    border: 2px solid #dddddd;
    border-radius: 15px;
    transition: 1s background-color, 1s border, 5s font-size;
}
.Productos li:hover{
    background-color: #000000;
    cursor: pointer;
}
.Productos li:active{
    background-color: #999999;
}
.Productos h2{
    text-transform: uppercase;
    margin: 0;
    font-size: 25px;
}
.Productos li:hover h2{
    font-size: 30px;
}
.Descripcion
{
    font-family: 'Dosis';
    font-size: 16px;
}
.Precio{
    font-size: 30px;
    font-weight: bolder;
    margin-top: .5%;
}
.Imagen-producto{
    width: 50%;
    height: 50%;
}

/*Style for the contacto.html*/
form{
    margin: 0 1% 0 1%;
    padding: 0;
    border: 0;
}
form label, form legend{
    font-family: 'Calendas';
    font-size: 1rem;
    color: #dddddd;
    margin: 0 0 0 0;
}
fieldset{
    display: flex;
    flex-wrap: wrap;
    border: 0;
}
.form-field{
    flex: 1 1 ;
}
.input-contacto{
    border: none;
    border-radius: 5px;
    font-family: 'Dosis';
    margin: 1rem;
    font-size: 1rem;
}
select{
    height: 1.5rem;
    margin: 5% 5% 0 5%;
    padding: 0;
    border: none;
    border-radius: 5px;
    font-family: 'Dosis';
    font-size: 20px;
}
option{
    background-color: #707070;
}
.send{
    display: block;
    margin: 1% 5% 1% 5%;
    padding: 3px 8px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Calendas';
    font-size: 20px;
    background-color: #707070;
    color: #dddddd;
    transition: 1s background-color, 1s border, 0.5s transform;
    cursor: pointer;
}
.send:hover{
    background-color: #999999;
    border: 1px solid #dddddd;
    transform: scale(1.1);
}
.send:active{
    background-color: #000000;
}
.Horarios-atencion{
    display:flex;
    flex-wrap: wrap;
}
#mensaje{
    width: 100%;
}
.checkbox{
    margin: 1% 5% 1% 5%;
    padding: 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Dosis';
    font-size: 1rem;
}
.radio-input{
    display: inline-block;
    width: 15%;
    text-align: left;
    margin: 1% 0;
    padding: 0;
}
table{
    display: table;
    width: 37%;
    margin: 1% 5% 1% 5%;
    padding: 3px 8px;
    border: none;
    border-radius: 5px;
    font-family: 'Dosis';
    font-size: 20px;
    background-color: #444444;
    border-collapse: collapse;
	border-spacing: 0;
}
thead, tbody{
    
    text-align: center;
}
thead{
    font-family: 'dosis';
    font-size: 25px;
    font-weight: bold;
}
td, th{
    border: 1px solid #dddddd;
}


/*media querry 480 px*/
@media screen and (max-width: 480px) {
    #barbero{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    #utensilios{
        width: 50%;
        height: 50%;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        border-radius: 5px;
        float: right;
    }
    .Video-yt{
        width: 100%;
        height: 100%;
        padding: 1% 0 0 0;
        display: inline-block;
        text-align: center;
        align-items: center;
        background: linear-gradient(#101010 0%, #999999 100%);
        background-size: auto;
    }
    nav{
        position: static;
        text-align: center;
    }
}
